<p>{{ blog }}</p>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">criar novo</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="postForm" (ngSubmit)="onSubmitToCreate()">
                <div class="modal-body">
                        <div class="mb-3">
                            <label for="title" class="form-label">Titulo</label>
                            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Titulo" required>
                        </div>
                        <div class="mb-3">
                            <label for="created_by" class="form-label">Criado por</label>
                            <input type="text" class="form-control" id="created_by" formControlName="created_by" placeholder="Fulano Ciclano" required>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!postForm.valid">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@for (list of lists; track $index) {
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ list?.title }}</h5>
            <p class="card-text">{{ list?.subtitle }}</p>
            <!-- <p class="card-subtitle">{{ list?.id }}</p> -->
            <a class="btn btn-primary" [routerLink]="['/' + blog + '/' + list?.id]">Go somewhere</a>
        </div>
    </div>
    <!-- {{ list | json }} -->
}
@empty {
    <p>Nada</p>
}
